#content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#form {
    margin: 5% auto;
}

form {
    padding: 32px 24px;
    font-size: 14px;
    gap: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(#e0cbb6, #c0ad9a) padding-box, linear-gradient(145deg, transparent 35%, #998774, #e9d7c4) border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 16px;
}