<div id="content">
    <h1>Ostavi svoju recenziju</h1>
    <h3>Svaki komentar koji sadrži govor mržnje ili spominjanje ličnih imena će biti obrisan</h3>
    <div id="form">
        <form [formGroup]="addReviewForm" (ngSubmit)="addReview(addReviewForm)">

            <label style="margin-top: 5%;" for="name">Ime:</label>
            <input type="text" id="name" name="name" formControlName="name" placeholder="Unesite Vaše ime">
            <p *ngIf="addReviewForm.get('name')?.touched && addReviewForm.get('name')?.errors?.['required']">Ime je
                obavezno!</p>
            <p *ngIf="addReviewForm.get('name')?.touched && addReviewForm.get('name')?.hasError?.('maxlength')">Ime ne
                sme biti preko 10 karaktera!</p>
            <p *ngIf="addReviewForm.get('name')?.touched && addReviewForm.get('name')?.errors?.['onlySpaces']">Ime ne
                sme biti prazan karakter!</p>

            <label style="margin-top: 5%;" for="bus">Autobuska linija:</label>
            <select id="bus" name="bus" formControlName="bus">
                <option value="23">23</option>
                <option value="31">31</option>
                <option value="56">56</option>
            </select>
            <p *ngIf="formSubmitted && addReviewForm.get('bus')?.invalid && addReviewForm.get('bus')?.hasError('required')">
                Linija mora biti izabrana!</p>

            <label style="margin-top: 5%;">Ocena:</label>
            <input type="hidden" formControlName="stars">
            <div class="rating">
                <i *ngFor="let rating of starsArray" class="fa fa-star" [class.fill]="rating <= selectedRating"
                    (click)="onStarClick(rating)"></i>
            </div>

            <label style="margin-top: 5%;" for="comment">Komentar:(opciono)</label>
            <textarea id="comment" name="comment" formControlName="comment" rows="4" cols="50" placeholder="Vaš komentar"></textarea>
            <p *ngIf="addReviewForm.get('comment')?.touched && addReviewForm.get('comment')?.hasError?.('maxlength')">
                Komentar ne
                sme biti preko 250 karaktera!</p>
            <p *ngIf="addReviewForm.get('comment')?.touched && addReviewForm.get('comment')?.errors?.['onlySpaces']">
                Komentar ne
                sme biti prazan karakter!</p>

            <button style="margin-top: 5%;" type="submit">Oceni</button>
            <button style="margin-top: 5%;" (click)="navigateTo('/')">Nazad</button>
        </form>
    </div>
</div>