#wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.reviews {
    margin: 0.5% 0;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.star-rating {
    display: inline-block;
    place-self: center;
}