<div id="content">
    <div id="form">
        <form [formGroup]="addReviewForm" (ngSubmit)="addReview(addReviewForm)">

            <label for="name">Ime:</label>
            <input type="text" id="name" name="name" formControlName="name">

            <label for="bus">Autobus:</label>
            <select id="bus" name="bus" formControlName="bus">
                <option value="23">23</option>
                <option value="31">31</option>
                <option value="56">56</option>
            </select>

            <label>Ocena:</label>
            <div class="rating">
                <i *ngFor="let rating of starsArray" class="fa fa-star"
                [class.active]="rating <= selectedRating"
                [class.fill]="rating <= selectedRating"
                   (click)="onStarClick(rating)"></i>
            </div>
              
            <label for="comment">Komentar:</label>
            <textarea id="comment" name="comment" formControlName="comment" rows="4" cols="50"></textarea>

            <button type="submit">Oceni</button>
        </form>
    </div>
    <div id="wrapper">
        <div class="reviews" *ngFor='let review of reviews'>
            <p style="width: 100px;">{{ review.name }}</p>
            <p>{{ review.bus }}</p>
            <div class="star-rating">
                <span class="stars">
                    <i class="fa fa-star" aria-hidden="true" [ngClass]="review.stars >= 1 ? 'full' : 'empty'"></i>
                    <i class="fa fa-star" aria-hidden="true" [ngClass]="review.stars >= 2 ? 'full' : 'empty'"></i>
                    <i class="fa fa-star" aria-hidden="true" [ngClass]="review.stars >= 3 ? 'full' : 'empty'"></i>
                    <i class="fa fa-star" aria-hidden="true" [ngClass]="review.stars >= 4 ? 'full' : 'empty'"></i>
                    <i class="fa fa-star" aria-hidden="true" [ngClass]="review.stars >= 5 ? 'full' : 'empty'"></i>
                </span>
            </div>
            <p>{{ review.date | date: 'dd/MM/yyyy' }}</p>
        </div>
    </div>
</div>